---
import SvgLogo from "@components/Svg/SvgLogo";
---

<footer class="landing__footer">
    <div class="landing__footer-container">
        <a
            href="/"
            class="landing__footer-logo"
        >
            <SvgLogo />
        </a>
        <p class="landing__footer-desc">
            Smart remote temperature monitoring & cold storage compliance software for food SMEs — powered by IoT.
        </p>
    </div>
    <div class="landing__footer-rights">
        <p>
            © 2026 Innosk. All rights reserved.
        </p>
    </div>
</footer>