---
import SvgLogo from "@components/Svg/SvgLogo";
---

<nav class="nav">
    <a
        class="nav__logo" 
        href="/"
    >
        <div>
            <SvgLogo />
        </div>
    </a>
    <ul>
        <li><a href="/#welcome">welcome</a></li>
        <li><a href="/#what-we-do">what we do</a></li>
        <li><a href="/#use-cases">use cases</a></li>
        <li><a href="/#how-it-works">how it works</a></li>
        <li><a href="/#who-we-are">who we are</a></li>
        <li><a href="/#get-in-touch">get in touch</a></li>
        <li><a href="/#faq">FAQ</a></li>
    </ul>
</nav>