---
import './Nav.css';
import SvgLogo from '../Svg/SvgLogo';
---

<nav class="mobile-nav">

    <div class="mobile-nav__container">

        <!-- MobileNav Layout -->
        <div class="mobile-nav__layout">
            P
        </div>

        <!-- Desktop Nav Logo -->
        <div class="mobile-nav__logo">
            <a href="/" >
                <SvgLogo />
            </a>
        </div>
    </div>

</nav>